/* styles.css */
body {
 font-family: Arial, sans-serif;
 background-color: #f0f0f0;
 text-align: center;
}

h1 {
 color: #007bff;
}
.menuBar{
 background-color: #007bff;
 color: #fff;
 padding: 10px;
 text-align: left;
}
.menuBar button{
 border:#000;
}

button {
 background-color: #007bff;
 color: #fff;
 padding: 10px 20px;
 border: none;
 cursor: pointer;
 border:2px solid#000;
}

button:hover {
 background-color: #0056b3;
}

button:disabled {
 background-color: #ccc;
 color: #666;
 cursor: not-allowed;
}
.upgradeButton {
 font-size: medium;
}
.upgradeButton p{
 font-size: small;
}






#mainDisplay {
 width: 100%;
 display: table;
 align-items: center;
}
#statsDisplay {
 margin: auto;
 width: 80%;
}
#pageDisplay {
 margin: auto;
 width: 80%;
}
#pageDisplay button{
 width: 80%;
 margin-bottom: 10px;
}

#upgrades {
 width: 33%;
 display: inline-grid;
 float: left;
 border-right:2px solid#000;
}

#automation{
 width: 33%;
 height: 100%;
 display: inline-grid;
 float: right;
}

#fishUpgrades {
 display: block;
 width: 80%;
}
#autoUpgrades {
 display: block;
 width: 80%;
 margin-bottom: 10px;
}

#menus {
 display: inline;
 margin: 5%;
 padding: 5%;
}

#shopUpgrades {
 display:none;
}
